*{
    text-transform: uppercase;
    border-width: 0%;
    color: #000;
    background-color: white;
}
body{
    font-size: 80%;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.3em;
    border: 4px double black;
 }
 h1{
    text-align: center;
    line-height: 23px;
 }
 ul{
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
 }
 li{
    display: inline;
    margin: auto;
    font-weight: bold;
 }
 p{
    text-align: center;
    line-height: 25px;
   font-weight: normal;
 }
 a{
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
 }